
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('./assets/BG.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position:center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0; /* Ensure there is no margin */
    overflow: hidden;
}

#nav
{
    padding-top: 50px ;
    display: flex;
    justify-content: space-evenly;
    height:17vh;
}

#title
{
    cursor: pointer;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    font-size: 2.5rem;
    color: rgb(254, 255, 255);
}

a{
    
-webkit-text-stroke: 1px rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#nav-links{
    
    display: flex;
    gap:2rem;
    list-style: none;
    font-size: 1.9rem;
    font-weight: 600;
}